* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./car-vehicle-sports-car-Bugatti-Bugatti-Veyron-performance-car-wheel-supercar-1920x1080-px-land-vehicle-automotive-design-automobile-make-luxury-vehicle-622688.jpg;');
  background-size: 100%;
  background-repeat: no-repeat;
}

h1 {
  text-align: middle;
  margin-bottom: 20px;
}

div {
  margin-bottom: 50spx;
  display: flex;
  gap: 50px;
  justify-content: center;
}

img {
  border: solid 10px gold;
}
